body {
    font-family: Arial;
    padding: 40px;
    background: #f4f4f4;
}

h1 {
    color: #222;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
}

th {
    background: black;
    color: white;
}